#about {



  section:nth-child(2) {
    position: relative;

    p:nth-of-type(2) {
      align-self: center;
      margin-top: 2rem;
      color: var(--color-secondary);
      font-size: 1.5em;
      font-weight: var(--font-weight-strong);
      text-align: center;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 5rem 0 5rem;
      padding: 0;
      list-style: none;

      li {
        margin: 0.25em;
        padding: 0.25em 0.5em;
        color: var(--color-secondary);
        border-radius: 5px;
        box-shadow: 0.18em 0.18em var(--color-primary-alt);
      }
    }

    @media (max-width: 35rem) {
      &::before {
        transform: scale(2) translate(-25%, -25%);
      }
    }
  }
}