#guidelines {
  h3 {
    display: inline-block;
    background: linear-gradient(to top right, Navy, ForestGreen, Beige);

    @supports (background-clip: text) or (-webkit-background-clip: text) {
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }

/*
    @media (min-width: 120ch) {
      transform: rotate(-8deg) translateX(-30%);
    } */
  }

  @supports (background-clip: text) or (-webkit-background-clip: text) {
    p:nth-of-type(2) {
      position: relative;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(4deg) translate(4.75rem, -3.5rem);
        transform-origin: left center;
        -webkit-background-clip: text;
        background-clip: text;
        color: mintcream;
        font-size: 0.9em;
        font-weight: normal;
        content: "â† Whoa, text gradients!";
      }
    }
  }

  .container > a {
    align-self: center;
  }
}

#guidelines section:nth-child(1) {
  position: relative;
  
}

#guidelines section:nth-child(1)::after {
  content: "";
  display: block;
  width: 500px; /* Adjust size as needed */
  height: 600px; /* Adjust size as needed */
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg fill='%23000000' width='800px' height='800px' viewBox='0 0 64 64' version='1.1' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Layer_2'/%3E%3Cg id='Layer_3'/%3E%3Cg id='Layer_4'/%3E%3Cg id='Layer_5'/%3E%3Cg id='Layer_6'/%3E%3Cg id='Layer_7'/%3E%3Cg id='Layer_8'/%3E%3Cg id='Layer_9'/%3E%3Cg id='Layer_10'/%3E%3Cg id='Layer_11'/%3E%3Cg id='Layer_12'/%3E%3Cg id='Layer_13'/%3E%3Cg id='Layer_15'/%3E%3Cg id='Layer_16'/%3E%3Cg id='Layer_17'/%3E%3Cg id='Layer_18'/%3E%3Cg id='Layer_19'/%3E%3Cg id='Layer_20'/%3E%3Cg id='Layer_21'/%3E%3Cg id='Layer_22'/%3E%3Cg id='Layer_23'%3E%3Cg%3E%3Cpath d='M54.1,23.6H37.7v-2.4h10.2c0.3,0,0.5-0.1,0.7-0.3l6.2-5.7c0.2-0.2,0.4-0.5,0.4-0.8c0-0.3-0.1-0.6-0.4-0.8l-6.2-5.7 c-0.2-0.2-0.5-0.3-0.7-0.3H37.7V1.1c0-0.6-0.5-1.1-1.1-1.1h-8.8c-0.6,0-1.1,0.5-1.1,1.1v6.4H18c-0.6,0-1.1,0.5-1.1,1.1V20 c0,0.6,0.5,1.1,1.1,1.1h8.7v2.4H16.1c-0.3,0-0.5,0.1-0.7,0.3l-6.2,5.7c-0.2,0.2-0.4,0.5-0.4,0.8c0,0.3,0.1,0.6,0.4,0.8l6.2,5.7 c0.2,0.2,0.5,0.3,0.7,0.3h10.5v25.7c0,0.6,0.5,1.1,1.1,1.1h8.8c0.6,0,1.1-0.5,1.1-1.1V37.2h16.4c0.6,0,1.1-0.5,1.1-1.1V24.7 C55.2,24.1,54.7,23.6,54.1,23.6z M28.9,2.2h6.6v5.3h-6.6V2.2z M19.1,9.7h8.7h8.8h10.8l5,4.6l-5,4.6H36.6h-8.8h-8.7V9.7z M28.9,21.2h6.6v2.4h-6.6V21.2z M35.5,61.8h-6.6V37.2h6.6V61.8z M53,35H36.6h-8.8H16.6l-5-4.6l5-4.6h11.2h8.8H53V35z'/%3E%3Cpath d='M30.9,30.4c0,0.6,0.5,1.1,1.1,1.1h17.7c0.6,0,1.1-0.5,1.1-1.1c0-0.6-0.5-1.1-1.1-1.1H32C31.4,29.3,30.9,29.8,30.9,30.4z'/%3E%3Cpath d='M25.5,29.3h-2.2c-0.6,0-1.1,0.5-1.1,1.1c0,0.6,0.5,1.1,1.1,1.1h2.2c0.6,0,1.1-0.5,1.1-1.1C26.6,29.8,26.1,29.3,25.5,29.3z '/%3E%3Cpath d='M33.1,14.3c0-0.6-0.5-1.1-1.1-1.1H21.1c-0.6,0-1.1,0.5-1.1,1.1s0.5,1.1,1.1,1.1H32C32.6,15.4,33.1,14.9,33.1,14.3z'/%3E%3Cpath d='M42.2,15.4h2.2c0.6,0,1.1-0.5,1.1-1.1s-0.5-1.1-1.1-1.1h-2.2c-0.6,0-1.1,0.5-1.1,1.1S41.6,15.4,42.2,15.4z'/%3E%3C/g%3E%3C/g%3E%3Cg id='Layer_24'/%3E%3Cg id='Layer_25'/%3E%3Cg id='Layer_26'/%3E%3Cg id='Layer_27'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(50% - 150px); /* Center vertically */
  z-index: 0; /* Ensure the SVG stays behind text */
}

#guidelines section:nth-child(1) p {
  position: relative;
  z-index: 1; /* Ensure text appears above the SVG */
  margin: auto;
  padding: 20px;
  text-align: center;
}

#guidelines section:nth-child(1) p:first-of-type {
  margin: 0; /* Adjust spacing between first paragraph and SVG */
  padding: 20px;
}

#guidelines section:nth-child(1) p:last-of-type {
  margin-top: 1000px; /* Adjust spacing between second paragraph and SVG */
  padding: 20px;
  
}
