.page-footer {
  --logomark-height: 2em;
  --logomark-padding: 0;
  display: block;
  background-color: #1A1A26;
  padding-top: 25px;

  &::before {
    @include logomark;
    position: absolute;
    left: 50%;
    width: 2em;
    transform: translate(-50%, -100%);
    background-color: var(--color-background);
    color: white;
    font-size: 3rem;
    content: "S";
  }

  p {
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
  }

  p:first-child {
    margin-top: 3rem;
    font-weight: var(--font-weight-strong);
    letter-spacing: 0.03em;
    text-align: center;
  }

  p a {
    color: white;
  }

  ul {
    grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
    margin-left: 15px;
    margin-right: 15px;
  }

  .container> :last-child {
    margin-bottom: 0;
  }

  .link-twittercontact::before {
    content: url(../../images/twitter.svg);
    width: 25px;
    height: 25px;
    padding-right: 5px;
    padding-top: 2px;
    fill: currentColor;
    justify-content: center;
  }

  .link-github svg {
    fill: black;
  }

  .link-rss::before {
    content: url(../../images/rss.svg);
    width: 25px;
    height: 25px;
    padding-right: 5px;
    padding-top: 2px;
    fill: currentColor;

  }

  .link-support::before {
    content: url(../../images/subscribe.svg);
    width: 25px;
    height: 25px;
    padding-right: 5px;
    padding-top: 2px;
    fill: currentColor;
  }

  &::after {
    content: '';
    background-image: url("../../images/bootprint.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 75px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    animation: walk 20s steps(15) infinite;
  }

  @keyframes walk {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(100%);
    }
  }

}