header {
  --logomark-height: 2em;
  --logomark-padding: 0 1em;

  display: grid;
  min-height: 40vh;
  place-items: center;
  padding: 10vh 2rem;
  color: var(--color-primary);
  text-align: center;
 
}
 

  h1 {

    @include logomark;
    font-family: 'Bearpaw Regular', san-serif;
    font-size: 8rem;
    line-height: 0.7;
  }

  