// stylelint-disable no-descending-specificity

body {
  /*  background-color: $color-background; */
  background-image: url(images/mountain2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: var(--color-text);
  font-family: 'Montserrat', sans-serif;

}


main {
  padding-top: 5vh;
  padding-bottom: 5vh;

  &:focus {
    outline: none;
  }

  h2 {
    font-family: 'Bearpaw Regular', san-serif;
    font-size: 55px;
    margin-top: 5px;
    margin-bottom: 0;

  }

  h3 {
    color: var(--color-primary);
  }

}

/*


  article {
    section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 5vh;
      padding-bottom: 5vh;
    }
  }

article,
.page-footer,
#styles {
  .container {
    width: 100%;
    max-width: 80ch;
    margin-right: auto;
    margin-left: auto;
  }
}

article,
#styles {
  padding: 1rem;
}
*/


main .container {
  --auto-grid-min-size: 40rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 2rem;
  padding: 10px;

}

@media (min-width: 200px) and (max-width: 800px) {
  main .container {
    --auto-grid-min-size: 30rem;
    /* Adjusted for smaller screens */
    grid-gap: 1.5rem;
    /* Reduced gap for smaller screens */
    /*margin-right: 10px;
    margin-left: 10px; */
  }
}

@media (max-width: 199px) {
  main .container {
    --auto-grid-min-size: 20rem;
    /* Further adjusted for very small screens */
    grid-gap: 0.5rem;
    /* Further reduced gap for very small screens */
    padding: 10px;
    /* Further reduced padding for very small screens */
    margin-right: 5px;
    margin-left: 5px;
  }
}

section.container {

  background-color: rgba(242, 202, 172, 0.6);
  /* rgba(254, 250, 224, 0.5); */
  margin: 1em 0;
  padding: 1em;
  border: 2px solid #4b3a46;
  border-radius: 10px;
  min-height: 1080px;

}


.page-footer ul,
.features {
  display: grid;
  margin: 0 0 2rem;
  padding: 0;
  grid-gap: 1em;
  list-style: none;
}