
// stylelint-disable no-descending-specificity

 body {
   /*  background-color: $color-background; */
  background-image: url(images/mountain2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: var(--color-text);
  font-family: 'Montserrat', sans-serif;
  
}


main {
  padding-top: 5vh;
  padding-bottom: 5vh;

  &:focus {
    outline: none;
  }

  h2 {
    font-family: 'Bearpaw Regular', san-serif; 
    font-size: 55px;
    max-width: 40ch;
  }

  h3 {
    color: var(--color-primary);
  }

}

/*


  article {
    section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 5vh;
      padding-bottom: 5vh;
    }
  }

article,
.page-footer,
#styles {
  .container {
    width: 100%;
    max-width: 80ch;
    margin-right: auto;
    margin-left: auto;
  }
}

article,
#styles {
  padding: 1rem;
}
*/


  main .container {
  --auto-grid-min-size: 30rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr)); 
  grid-gap: 2rem;
  padding: 25px;

  }
  
  @media (min-width: 200px) and (max-width: 600px)  {
    main .container {
      --auto-grid-min-size: 20rem; /* Adjusted for smaller screens */
      grid-gap: 1.5rem; /* Reduced gap for smaller screens */   
      margin-right: 10px; 
    }
  }
  
  @media (max-width: 199px) {
    main .container {
      --auto-grid-min-size: 10rem; /* Further adjusted for very small screens */
      grid-gap: 0.5rem; /* Further reduced gap for very small screens */
      padding: 10px; /* Further reduced padding for very small screens */
      margin-right: 10px;
    }
  }

 
  
 /*
  article,
  .page-footer,
  #styles {
    .container {
      @include container(100%, 80ch);
    }
  }
  
  article,
  #styles {
    padding: 1rem;
  }
  
  .page-footer ul,
  .features {
    @include flex-container(row);
    margin: 0 0 2rem;
    padding: 0;
    grid-gap: 1em;
    list-style: none;
  }
    */
    
 .page-footer ul,
.features {
  display: grid;
  margin: 0 0 2rem;
  padding: 0;
  grid-gap: 1em;
  list-style: none;
}

